<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>Mybook - Личный кабинет</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen">
 </head>
 <body>
    <header class="Header__header" style="display:none;">
      <div class="Header__container">
        <a class="Header__logo" href="/"></a>
      </div>
    </header>
   {% block content %}

   {% endblock %}
    <footer class="footer">
      <div class="copyright">&copy; 2019 Илья Подколзин.</div>
    </footer>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript" src="/static/js/script.js"></script>
 </body>
</html>
