{% extends '././layout/base.html' %}

{% block content %}

<form name="login">
    <input type="text" id="email" value="firefoxmail@yandex.ru" name="email"/>
    <input type="password" id="pwd" value="qwerty74711" name="password"/>
    <button type="button" id='login_submit'>Войти</button>
</form>
{% endblock %}
